.form {
    width: 80%;
    margin: 10px auto 0;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    &_footer {
        display: flex;
        justify-content: flex-end;
    }
}